

#container1 {
    border-radius: 15px;
    border: 1.5px ;
    border-style: solid;
padding: 15px; 
width: 780px;
    height: 450px;  
    margin-left: 110px;
}

#container5 {
	border-radius: 15px;
    border: 1.5px ;
    border-style: solid;
padding: 15px; 
width: 780px;
    height: 450px; 
    background-color: white;
    display: inline-block;
}

#container6 {
    border-radius: 15px;
    border: 1.5px ;
    border-style: solid;
padding: 15px; 
width: 780px;
    height: 450px;  
}
#riskmap {
	background-color: white;
}
